Source: jabber-querybot
Section: net
Priority: extra
Maintainer: Marco Balmer <marco@balmer.name>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.2
Homepage: http://github.com/micressor/jabber-querybot
Vcs-Git: https://github.com/micressor/jabber-querybot.git
Vcs-Browser: http://github.com/micressor/jabber-querybot

Package: jabber-querybot
Architecture: all
Depends: ${misc:Depends},libnet-jabber-perl,libxml-parser-perl,libsys-cpuload-perl
Description: Modular xmpp/jabber bot
 You can easy write bots and use it over the jabber network.
 .
 jabber-querybot connects a jabber account and wait for messages. If a message
 comes in, it forward it to your self programmend modul. The return string of
 your module, jabber-querybot send it back to the jabber sender.
 .
 It is designed to be re-usable and to make it easy to write small
 Jabber bots that do one thing and do it well. A simple concept with a 
 lot of examples and experiences are implemented.
